<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avisit.vijayam" >

    <application
        android:name=".util.VijayamApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MyCoursesActivity"
            android:label="@string/title_activity_my_courses"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.TopicsActivity"
            android:parentActivityName=".activities.MyCoursesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MyCoursesActivity" />
        </activity>

        <activity
            android:name=".activities.QuestionsActivity"
            android:parentActivityName=".activities.TopicsActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TopicsActivity" />
        </activity>

        <activity
            android:name=".activities.FullScreenImageActivity"
            android:label="@string/questionImage"
            android:parentActivityName=".activities.QuestionsActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.QuestionsActivity" />
        </activity>
    </application>

</manifest>
